.blogPost{
    display: flex;
   justify-content: space-between;
   gap: 3%;
   background-color: #f9f9fb ;
   padding-top: 50px;
   padding-left:20px;
   padding-right:20px;
   padding-bottom: 50px;

}