.footers{
    display: flex;
    color: #2B2C2D;
    background-color: #edeef0;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom:-10px;
    font-size:14px;
}
.right{
    
}

