.top_nav{
    display: flex;
    height: 45px;
    width: 100%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.container{
    display: flex;
}
.matches{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.nav-box-matches{
    width: auto;
    padding-left: 10px;
    text-align: center;
    padding-top: 10px;
}